<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtVod8z_a_aYBPo3YWU_jU2w93v8T5sOo</string>
	<key>GCM_SENDER_ID</key>
	<string>628792576080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libraryApp</string>
	<key>PROJECT_ID</key>
	<string>kitepkana-18f70</string>
	<key>STORAGE_BUCKET</key>
	<string>kitepkana-18f70.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628792576080:ios:70b0bb0d14e9bab7ee2955</string>
</dict>
</plist>